<template name="campsIndex">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'campsIndex'}}">Camps</a></li>
            <li class="active">index</li>
        </ol>

        <div class="title">
            <h3 class="pull-left">Camps</h3>
        </div>
        <div class="clearfix"></div>

        <div class="toolbar">
            <div class="pull-left">
                <a class="btn btn-success" href="{{pathFor 'campsInsert'}}">Insert</a>
                <a id="btnRemoveAll" class="btn btn-danger">Remove Selection</a>
            </div>   
            <div class="quick-search pull-right col-xs-12 col-md-3">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Type Here to Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        {{#if isEmpty}}
        <p>No Data Found</p>
        {{else}}
        <div class=" table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30px;"><input type="checkbox" id="checkAll"/></th>                        
                        <th id="btnSortuserId" class="{{meteorisGridViewSortClass 'userId'}}">UserId</th>
<th id="btnSorttitle" class="{{meteorisGridViewSortClass 'title'}}">Title</th>
<th id="btnSortshortDesc" class="{{meteorisGridViewSortClass 'shortDesc'}}">Short Description</th>
<th id="btnSortlongDesc" class="{{meteorisGridViewSortClass 'longDesc'}}">Long Description</th>
<th id="btnSortcoverImg" class="{{meteorisGridViewSortClass 'coverImg'}}">Cover Image</th>
<th id="btnSortimgSrcText" class="{{meteorisGridViewSortClass 'imgSrcText'}}">Image Source Text</th>
<th id="btnSortcauses" class="{{meteorisGridViewSortClass 'causes'}}">List of Causes</th>
<th id="btnSortcampCreatedAt" class="{{meteorisGridViewSortClass 'campCreatedAt'}}">Created At</th>
<th id="btnSortcampEndDate" class="{{meteorisGridViewSortClass 'campEndDate'}}">Campaign End Date</th>
<th id="btnSortcampLastUpdate" class="{{meteorisGridViewSortClass 'campLastUpdate'}}">Last Updated</th>
<th id="btnSortaddress" class="{{meteorisGridViewSortClass 'address'}}">Address</th>
<th id="btnSortcountry" class="{{meteorisGridViewSortClass 'country'}}">Country</th>
<th id="btnSortcity" class="{{meteorisGridViewSortClass 'city'}}">City/Town</th>

                        <!--<th>Image</th>-->                    
                        <th>Created by</th>                    
                        <th style="width: 145px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each models}}
                    <tr>
                        <td><input type="checkbox" class="checkAll" value="{{_id}}"/></td>
                        <td>{{userId}}</td>
<td>{{title}}</td>
<td>{{shortDesc}}</td>
<td>{{longDesc}}</td>
<td>{{coverImg}}</td>
<td>{{imgSrcText}}</td>
<td>{{causes}}</td>
<td>{{meteorisFormatter 'date' campCreatedAt}}</td>
<td>{{meteorisFormatter 'date' campEndDate}}</td>
<td>{{meteorisFormatter 'date' campLastUpdate}}</td>
<td>{{address}}</td>
<td>{{country}}</td>
<td>{{city}}</td>

                        <!--<td><img class="image" src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>-->
                        <td>{{createdUser.profile.name}}</td>
                        <td>
                            <a href="{{pathFor 'campsView'}}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a href="{{pathFor 'campsUpdate'}}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a id="btnRemove" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#if hasMore}}
        <a class="btn btn-default load-more btn-block" href="{{hasMore}}">Load More ...</a>
        {{/if}}
        {{#unless ready}}
        {{> spinner}}
        {{/unless}}
        {{/if}}
    </div>
</template>