<template name="teams_form">
    <form id="teams_form"> 
        <div class="form-group {{#if error 'title'}}has-error{{/if}}">
<label for="title" class="control-label">Title *</label>
<input type="text" id="title" value="{{title}}" placeholder="Title" class="form-control">
<span class="help-block">{{error "title"}}</span>
</div>
<div class="form-group {{#if error 'employeeid'}}has-error{{/if}}">
<label for="employeeid" class="control-label">Employee </label>
<select id="employeeid" class="form-control">
<option value=""></option>
{{#each employees}}
<option value="{{_id}}" {{selected ../employeeid}}>{{name}}</option>
{{/each}}
</select>
<span class="help-block">{{error "employeeid"}}</span>
</div>
<div class="form-group {{#if error 'job'}}has-error{{/if}}">
<label for="job" class="control-label">Job-Field </label>
<select id="job" class="form-control">
<option value=""></option>
{{#each jobs}}
<option value="{{_id}}" {{selected ../job}}>{{title}}</option>
{{/each}}
</select>
<span class="help-block">{{error "job"}}</span>
</div>
<div class="form-group {{#if error 'top'}}has-error{{/if}}">
<label for="top" class="control-label">status -top or not </label>
<input type="text" id="top" value="{{top}}" placeholder="status -top or not" class="form-control">
<span class="help-block">{{error "top"}}</span>
</div>
<div class="form-group {{#if error 'role'}}has-error{{/if}}">
<label for="role" class="control-label">role </label>
<input type="text" id="role" value="{{role}}" placeholder="role" class="form-control">
<span class="help-block">{{error "role"}}</span>
</div>
        <button id="btnSave" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'teamsIndex'}}" class="btn btn-default">Back</a>                        
    </form>
</template>

