<template name="teamsUpdate">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'teamsIndex'}}">Teams</a></li>
            <li class="active">update</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">Update Teams</h3>
            </div>
            <div class="clearfix"></div>

            {{> teams_form model}}  
        </div>        
    </div>
</template>