<template name="userProfile_form">
    <form id="userProfile_form"> 
        <div class="form-group {{#if error 'userId'}}has-error{{/if}}">
<label for="userId" class="control-label">UserID *</label>
<input type="text" id="userId" value="{{CurrentUserID}}" placeholder="UserID" disabled class="form-control">
<span class="help-block">{{error "userId"}}</span>
</div>
<div class="form-group {{#if error 'fname'}}has-error{{/if}}">
<label for="fname" class="control-label">First Name </label>
<input type="text" id="fname" value="{{fname}}" placeholder="First Name" class="form-control">
<span class="help-block">{{error "fname"}}</span>
</div>
<div class="form-group {{#if error 'lname'}}has-error{{/if}}">
<label for="lname" class="control-label">Last Name </label>
<input type="text" id="lname" value="{{lname}}" placeholder="Last Name" class="form-control">
<span class="help-block">{{error "lname"}}</span>
</div>
<div class="form-group {{#if error 'displayName'}}has-error{{/if}}">
<label for="displayName" class="control-label">Display Name </label>
<input type="text" id="displayName" value="{{displayName}}" placeholder="Display Name" class="form-control">
<span class="help-block">{{error "displayName"}}</span>
</div>
<div class="form-group {{#if error 'userBio'}}has-error{{/if}}">
<label for="userBio" class="control-label">User Bio </label>
<input type="text" id="userBio" value="{{userBio}}" placeholder="User Bio" class="form-control">
<span class="help-block">{{error "userBio"}}</span>
</div>
<div class="form-group {{#if error 'location'}}has-error{{/if}}">
<label for="location" class="control-label">Location </label>
<input type="text" id="location" value="{{location}}" placeholder="Location" class="form-control">
<span class="help-block">{{error "location"}}</span>
</div>
<div class="form-group {{#if error 'image'}}has-error{{/if}}">
<label for="image" class="control-label">Image </label>
<input type="text" id="image" value="{{image}}" placeholder="Image" class="form-control">
<span class="help-block">{{error "image"}}</span>
</div>
<div class="form-group {{#if error 'avatar'}}has-error{{/if}}">
<label for="avatar" class="control-label">Avatar </label>
<input type="text" id="avatar" value="{{avatar}}" placeholder="Avatar" class="form-control">
<span class="help-block">{{error "avatar"}}</span>
</div>
<div class="form-group {{#if error 'dob'}}has-error{{/if}}">
<label for="dob" class="control-label">Date of Birth </label>
<input type="text" id="dob" value="{{meteorisFormatterDate dob 'L'}}" placeholder="Date of Birth" class="form-control">
<span class="help-block">{{error "dob"}}</span>
</div>
<div class="form-group {{#if error 'sex'}}has-error{{/if}}">
<label for="sex" class="control-label">Sex </label>
<input type="text" id="sex" value="{{sex}}" placeholder="Sex" class="form-control">
<span class="help-block">{{error "sex"}}</span>
</div>

        <button id="btnSave" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'userProfileIndex'}}" class="btn btn-default">Back</a>                        
    </form>
</template>

