<template name="userProfileIndex">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'userProfileIndex'}}">UserProfile</a></li>
            <li class="active">index</li>
        </ol>

        <div class="title">
            <h3 class="pull-left">UserProfile</h3>
        </div>
        <div class="clearfix"></div>

        <div class="toolbar">
            <div class="pull-left">
                <a class="btn btn-success" href="{{pathFor 'userProfileInsert'}}">Insert</a>
                <a id="btnRemoveAll" class="btn btn-danger">Remove Selection</a>
            </div>   
            <div class="quick-search pull-right col-xs-12 col-md-3">
                <div class="input-group">
                    <input type="text" id="search" class="form-control" placeholder="Type Here to Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        {{#if isEmpty}}
        <p>No Data Found</p>
        {{else}}
        <div class=" table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 30px;"><input type="checkbox" id="checkAll"/></th>                        
                        <th id="btnSortuserID" class="{{meteorisGridViewSortClass 'userId'}}">UserID</th>
<th id="btnSortfname" class="{{meteorisGridViewSortClass 'fname'}}">First Name</th>
<th id="btnSortlname" class="{{meteorisGridViewSortClass 'lname'}}">Last Name</th>
<th id="btnSortdisplayName" class="{{meteorisGridViewSortClass 'displayName'}}">Display Name</th>
<th id="btnSortuserBio" class="{{meteorisGridViewSortClass 'userBio'}}">User Bio</th>
<th id="btnSortlocation" class="{{meteorisGridViewSortClass 'location'}}">Location</th>
<th id="btnSortimage" class="{{meteorisGridViewSortClass 'image'}}">Image</th>
<th id="btnSortavatar" class="{{meteorisGridViewSortClass 'avatar'}}">Avatar</th>
<th id="btnSortdob" class="{{meteorisGridViewSortClass 'dob'}}">Date of Birth</th>
<th id="btnSortsex" class="{{meteorisGridViewSortClass 'sex'}}">Sex</th>

                        <!--<th>Image</th>-->                    
                        <th>Created by</th>                    
                        <th style="width: 145px;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each models}}
                    <tr>
                        <td><input type="checkbox" class="checkAll" value="{{_id}}"/></td>
                        <td>{{userId}}</td>
<td>{{fname}}</td>
<td>{{lname}}</td>
<td>{{displayName}}</td>
<td>{{userBio}}</td>
<td>{{location}}</td>
<td>{{image}}</td>
<td>{{avatar}}</td>
<td>{{meteorisFormatter 'date' dob}}</td>
<td>{{sex}}</td>

                        <!--<td><img class="image" src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>-->
                        <td>{{createdUser.profile.name}}</td>
                        <td>
                            <a href="{{pathFor 'userProfileView'}}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i></a>
                            <a href="{{pathFor 'userProfileUpdate'}}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a id="btnRemove" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#if hasMore}}
        <a class="btn btn-default load-more btn-block" href="{{hasMore}}">Load More ...</a>
        {{/if}}
        {{#unless ready}}
        {{> spinner}}
        {{/unless}}
        {{/if}}
    </div>
</template>