<template name="userProfileView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'userProfileIndex'}}">UserProfile</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">View UserProfile #{{_id}}</h3>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'userProfileIndex'}}" class="btn btn-default">Back</a> 
                <a href="{{pathFor 'userProfileUpdate'}}" class="btn btn-info">Update</a>
                <a id="btnRemove" class="btn btn-danger">Remove</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                <tr>
<td><b>UserID</b></td>
<td>{{userId}}</td>
</tr>
<tr>
<td><b>First Name</b></td>
<td>{{fname}}</td>
</tr>
<tr>
<td><b>Last Name</b></td>
<td>{{lname}}</td>
</tr>
<tr>
<td><b>Display Name</b></td>
<td>{{displayName}}</td>
</tr>
<tr>
<td><b>User Bio</b></td>
<td>{{userBio}}</td>
</tr>
<tr>
<td><b>Location</b></td>
<td>{{location}}</td>
</tr>
<tr>
<td><b>Image</b></td>
<td>{{image}}</td>
</tr>
<tr>
<td><b>Avatar</b></td>
<td>{{avatar}}</td>
</tr>
<tr>
<td><b>Date of Birth</b></td>
<td>{{meteorisFormatter 'date' dob}}</td>
</tr>
<tr>
<td><b>Sex</b></td>
<td>{{sex}}</td>
</tr>

<!--                <tr>
                    <td><b>Image</b></td>
                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                </tr>                -->
                <tr>
                    <td><b>Created at</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>                
                <tr>
                    <td><b>Updated at</b></td>
                    <td>{{meteorisFormatter "dateTime" updatedAt}}</td>
                </tr>                
                <tr>
                    <td><b>Created by</b></td>
                    <td>{{createdUser.profile.name}}</td>
                </tr>                
                <tr>
                    <td><b>Updated By</b></td>
                    <td>{{updatedUser.profile.name}}</td>
                </tr>                
            </tbody>
        </table>        
        {{/with}}
    </div>
</template>