<template name="projUpdatesList">
<p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 30px;"><input type="checkbox" id="checkAll"/></th>
            <th>Title</th>
            <th>Image</th>
            <th>Created by</th>
            <th style="width: 145px;">Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each projUpdate}}
            <tr>
                <td><input type="checkbox" class="checkAll" value="{{_id}}"/></td>
                <td>{{title}}</td>
                <td><img class="image" src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                <td>{{createdUser.profile.name}}</td>
                <td>UserId:{{createdUserId}}</td>
                <td>
                    <a href="{{pathFor 'projUpdatesView'}}" class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i></a>
                    <a href="{{pathFor 'projUpdatesUpdate'}}" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a id="btnRemove" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

</p>



</template>