<template name="projectsView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'projectsIndex'}}">Projects</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">View Projects #{{_id}}</h3>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'projectsIndex'}}" class="btn btn-default">Back</a> 
                <a href="{{pathFor 'projectsUpdate'}}" class="btn btn-info">Update</a>
                <a id="btnRemove" class="btn btn-danger">Remove</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                <tr>
<td><b>UserId</b></td>
<td>{{userId}}</td>
</tr>
<tr>
<td><b>Title</b></td>
<td>{{title}}</td>
</tr>
<tr>
<td><b>Short Description</b></td>
<td>{{shortDesc}}</td>
</tr>
<tr>
<td><b>Long Description</b></td>
<td>{{lingDesc}}</td>
</tr>
<tr>
<td><b>Cover Image</b></td>
<td>{{coverImg}}</td>
</tr>
<tr>
<td><b>Image Source Text</b></td>
<td>{{imgSrcText}}</td>
</tr>
<tr>
<td><b>Status</b></td>
<td>{{status}}</td>
</tr>
<tr>
<td><b>Start Date</b></td>
<td>{{meteorisFormatter 'date' projStart}}</td>
</tr>
<tr>
<td><b>Project End Date</b></td>
<td>{{meteorisFormatter 'date' projEnd}}</td>
</tr>
<tr>
<td><b>Last Updated</b></td>
<td>{{meteorisFormatter 'date' projLastUpdate}}</td>
</tr>
<tr>
<td><b>Country</b></td>
<td>{{projCountry}}</td>
</tr>
<tr>
<td><b>City</b></td>
<td>{{projCity}}</td>
</tr>
<tr>
<td><b>Website</b></td>
<td>{{projWeb}}</td>
</tr>
<tr>
<td><b>Facebook</b></td>
<td>{{projFacebook}}</td>
</tr>
<tr>
<td><b>SocialMediaLinks</b></td>
<td>{{projSocialLinks}}</td>
</tr>

<!--                <tr>
                    <td><b>Image</b></td>
                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                </tr>                -->
                <tr>
                    <td><b>Created at</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>                
                <tr>
                    <td><b>Updated at</b></td>
                    <td>{{meteorisFormatter "dateTime" updatedAt}}</td>
                </tr>                
                <tr>
                    <td><b>Created by</b></td>
                    <td>{{createdUser.profile.name}}</td>
                </tr>                
                <tr>
                    <td><b>Updated By</b></td>
                    <td>{{updatedUser.profile.name}}</td>
                </tr>                
            </tbody>
        </table>        
        {{/with}}
    </div>
</template>