<template name="causes_form">
    <form id="causes_form"> 
        <div class="form-group {{#if error 'title'}}has-error{{/if}}">
<label for="title" class="control-label">Title </label>
<input type="text" id="title" value="{{title}}" placeholder="Title" class="form-control">
<span class="help-block">{{error "title"}}</span>
</div>
<div class="form-group {{#if error 'tag'}}has-error{{/if}}">
<label for="tag" class="control-label">Tag </label>
<input type="text" id="tag" value="{{tag}}" placeholder="Tag" class="form-control">
<span class="help-block">{{error "tag"}}</span>
</div>
<div class="form-group {{#if error 'type'}}has-error{{/if}}">
<label for="type" class="control-label">Type </label>
<input type="text" id="type" value="{{type}}" placeholder="Type" class="form-control">
<span class="help-block">{{error "type"}}</span>
</div>
<div class="form-group {{#if error 'shortDesc'}}has-error{{/if}}">
<label for="shortDesc" class="control-label">Short Description </label>
<input type="text" id="shortDesc" value="{{shortDesc}}" placeholder="Short Description" class="form-control">
<span class="help-block">{{error "shortDesc"}}</span>
</div>
<div class="form-group {{#if error 'longDesc'}}has-error{{/if}}">
<label for="longDesc" class="control-label">Long Description </label>
<input type="text" id="longDesc" value="{{longDesc}}" placeholder="Long Description" class="form-control">
<span class="help-block">{{error "longDesc"}}</span>
</div>
<div class="form-group {{#if error 'imgThumb'}}has-error{{/if}}">
<label for="imgThumb" class="control-label">Thumbnail Image </label>
<input type="text" id="imgThumb" value="{{imgThumb}}" placeholder="Thumbnail Image" class="form-control">
<span class="help-block">{{error "imgThumb"}}</span>
</div>
<div class="form-group {{#if error 'imgLarge'}}has-error{{/if}}">
<label for="imgLarge" class="control-label">Large Image </label>
<input type="text" id="imgLarge" value="{{imgLarge}}" placeholder="Large Image" class="form-control">
<span class="help-block">{{error "imgLarge"}}</span>
</div>
<div class="form-group {{#if error 'galleries'}}has-error{{/if}}">
<label for="galleries" class="control-label">Galleries </label>
<input type="text" id="galleries" value="{{galleries}}" placeholder="Galleries" class="form-control">
<span class="help-block">{{error "galleries"}}</span>
</div>
<div class="form-group {{#if error 'causeStart'}}has-error{{/if}}">
<label for="causeStart" class="control-label">Cause Started </label>
<input type="text" id="causeStart" value="{{meteorisFormatterDate causeStart 'L'}}" placeholder="Cause Started" class="form-control">
<span class="help-block">{{error "causeStart"}}</span>
</div>
<div class="form-group {{#if error 'causeEnd'}}has-error{{/if}}">
<label for="causeEnd" class="control-label">Cause End Date </label>
<input type="text" id="causeEnd" value="{{meteorisFormatterDate causeEnd 'L'}}" placeholder="Cause End Date" class="form-control">
<span class="help-block">{{error "causeEnd"}}</span>
</div>
<div class="form-group {{#if error 'causeStatus'}}has-error{{/if}}">
<label for="causeStatus" class="control-label">Status </label>
<input type="text" id="causeStatus" value="{{causeStatus}}" placeholder="Status" class="form-control">
<span class="help-block">{{error "causeStatus"}}</span>
</div>
<div class="form-group {{#if error 'causeUpdated'}}has-error{{/if}}">
<label for="causeUpdated" class="control-label">Last Updated </label>
<input type="text" id="causeUpdated" value="{{meteorisFormatterDate causeUpdated 'L'}}" placeholder="Last Updated" class="form-control">
<span class="help-block">{{error "causeUpdated"}}</span>
</div>
<div class="form-group {{#if error 'causeWeb'}}has-error{{/if}}">
<label for="causeWeb" class="control-label">Website </label>
<input type="text" id="causeWeb" value="{{causeWeb}}" placeholder="Website" class="form-control">
<span class="help-block">{{error "causeWeb"}}</span>
</div>
<div class="form-group {{#if error 'causeSocialMedia'}}has-error{{/if}}">
<label for="causeSocialMedia" class="control-label">Social Media Links </label>
<input type="text" id="causeSocialMedia" value="{{causeSocialMedia}}" placeholder="Social Media Links" class="form-control">
<span class="help-block">{{error "causeSocialMedia"}}</span>
</div>

        <button id="btnSave" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'causesIndex'}}" class="btn btn-default">Back</a>                        
    </form>
</template>

