<template name="causesView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'causesIndex'}}">Causes</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">View Causes #{{_id}}</h3>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'causesIndex'}}" class="btn btn-default">Back</a> 
                <a href="{{pathFor 'causesUpdate'}}" class="btn btn-info">Update</a>
                <a id="btnRemove" class="btn btn-danger">Remove</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                <tr>
<td><b>Title</b></td>
<td>{{title}}</td>
</tr>
<tr>
<td><b>Tag</b></td>
<td>{{tag}}</td>
</tr>
<tr>
<td><b>Type</b></td>
<td>{{type}}</td>
</tr>
<tr>
<td><b>Short Description</b></td>
<td>{{shortDesc}}</td>
</tr>
<tr>
<td><b>Long Description</b></td>
<td>{{longDesc}}</td>
</tr>
<tr>
<td><b>Thumbnail Image</b></td>
<td>{{imgThumb}}</td>
</tr>
<tr>
<td><b>Large Image</b></td>
<td>{{imgLarge}}</td>
</tr>
<tr>
<td><b>Galleries</b></td>
<td>{{galleries}}</td>
</tr>
<tr>
<td><b>Cause Started</b></td>
<td>{{meteorisFormatter 'date' causeStart}}</td>
</tr>
<tr>
<td><b>Cause End Date</b></td>
<td>{{meteorisFormatter 'date' causeEnd}}</td>
</tr>
<tr>
<td><b>Status</b></td>
<td>{{causeStatus}}</td>
</tr>
<tr>
<td><b>Last Updated</b></td>
<td>{{meteorisFormatter 'date' causeUpdated}}</td>
</tr>
<tr>
<td><b>Website</b></td>
<td>{{causeWeb}}</td>
</tr>
<tr>
<td><b>Social Media Links</b></td>
<td>{{causeSocialMedia}}</td>
</tr>

<!--                <tr>
                    <td><b>Image</b></td>
                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                </tr>                -->
                <tr>
                    <td><b>Created at</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>                
                <tr>
                    <td><b>Updated at</b></td>
                    <td>{{meteorisFormatter "dateTime" updatedAt}}</td>
                </tr>                
                <tr>
                    <td><b>Created by</b></td>
                    <td>{{createdUser.profile.name}}</td>
                </tr>                
                <tr>
                    <td><b>Updated By</b></td>
                    <td>{{updatedUser.profile.name}}</td>
                </tr>                
            </tbody>
        </table>        
        {{/with}}
    </div>
</template>