<template name="likedOrNot">

{{#if LikedIdOrNot}}
    <a href="#" class="btnLiked">Shared</a>
{{else}} <a href="#" class="btnLiked">Share</a>
{{/if}}

</template>

<template name="posts_form">
    <form id="posts_form">

        {{> likedOrNot}}

        <label for="_id" class="control-label">_id: {{_id}} </label>
        <div class="form-group {{#if error 'blogId'}}has-error{{/if}}">
            <label for="blogId" class="control-label">blogId *</label>
            <input type="text" id="blogId" value="{{blogId}}" placeholder="blogId" class="form-control" autofocus="true">
            <span class="help-block">{{error "blogId"}}</span>
        </div>

        <div class="form-group {{#if error 'title'}}has-error{{/if}}">
            <label for="title" class="control-label">Title *</label>
            <input type="text" id="title" value="{{title}}" placeholder="Title" class="form-control" autofocus="true">
            <span class="help-block">{{error "title"}}</span>
        </div>
        <div class="form-group {{#if error 'content'}}has-error{{/if}}">
            <label for="content" class="control-label">Content *</label>
            <textarea id="content" class="form-control" rows="3" placeholder="Content">{{content}}</textarea>
            <span class="help-block">{{error "content"}}</span>
        </div>

        <div class="form-group {{#if error 'parenttype'}}has-error{{/if}}">
            <label for="parenttype" class="control-label">Parent Type</label>
            <select id="parenttype" class="form-control">
            	<option value="1">Company Page</option>
            	<option value="2">Campaign</option>
            	<option value="3">Project</option>
            	<option value="4">Cause</option>
            	<option value="5">Blog</option>
            </select>
            <span class="help-block">{{error "parenttype"}}</span>
        </div>
        <div class="form-group {{#if error 'parentID'}}has-error{{/if}}">
            <label for="parentID" class="control-label">Parent ID</label>
            <input type="text" id="parentID" class="form-control">
            <span class="help-block">{{error "parentID"}}</span>
        </div>
        <div class="form-group {{#if error 'URL'}}has-error{{/if}}">
            <label for="URL" class="control-label">URL</label>
            <input type="text" id="URL" class="form-control">
            <span class="help-block">{{error "URL"}}</span>
        </div>
        <div class="form-group {{#if error 'status'}}has-error{{/if}}">
            <label for="status" class="control-label">Status</label>
            <select id="status" class="form-control">
            	<option value="1">Draft</option>
            	<option value="2">Pending</option>
            	<option value="3">Published</option>
            	<option value="4">Flagged</option>
            </select>
            <span class="help-block">{{error "status"}}</span>
        </div>
        <div class="form-group {{#if error 'slug'}}has-error{{/if}}">
            <label for="slug" class="control-label">Slug</label>
            <input type="text" id="slug" class="form-control">
            <span class="help-block">{{error "slug"}}</span>
        </div>
        <div class="form-group {{#if error 'tags'}}has-error{{/if}}">
            <label for="tags" class="control-label">Tags</label>
            <input type="text" id="tags" class="form-control">
            <span class="help-block">{{error "tags"}}</span>

        </div>
        <div class="form-group {{#if error 'image'}}has-error{{/if}}">
            <label for="image" class="control-label">File</label>
            <input type="file" id="image" class="form-control">
            <span class="help-block">{{error "image"}}</span>
        </div>
        <button id="btnSave" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'postsIndex'}}" class="btn btn-default">Back</a>                        
    </form>
</template>

