<template name="usersView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'usersIndex'}}">Users</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">View User #{{_id}}</h3>
            <div class="toolbar pull-right">
                <a href="{{pathFor 'usersIndex'}}" class="btn btn-default">Back</a> 
                <a href="{{pathFor 'usersUpdate'}}" class="btn btn-info">Update</a>
                <a id="btnRemove" class="btn btn-danger">Remove</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Email</b></td>
                    <td>{{emails.[0].address}}</td>
                </tr>
                <tr>
                    <td><b>Nick Name</b></td>
                    <td>{{profile.name}}</td>
                </tr>   
                <tr>
                    <td><b>First Name</b></td>
                    <td>{{profile.fName}}</td>
                </tr> 
                <tr>
                    <td><b>Last Name</b></td>
                    <td>{{profile.lName}}</td>
                </tr> 
                <tr>
                    <td><b>Global Role Group</b></td>
                    <td>{{mugenRoleGroup.name}}</td>
                </tr> 

                <tr>
                    <td><b>User Bio</b></td>
                    <td>{{profile.bio}}</td>
                </tr> 
                <tr>
                    <td><b>Country</b></td>
                    <td>{{profile.country}}</td>
                </tr> 
                <tr>
                    <td><b>City</b></td>
                    <td>{{profile.city}}</td>
                </tr> 
                <tr>
                    <td><b>Address</b></td>
                    <td>{{profile.address}}</td>
                </tr> 
                <tr>
                    <td><b>Image Thumbnail</b></td>
                    <td>{{profile.ImgThumb}}</td>
                </tr> 
                <tr>
                    <td><b>Image Large</b></td>
                    <td>{{profile.ImgLarge}}</td>
                </tr> 
                <tr>
                    <td><b>Image Header</b></td>
                    <td>{{profile.ImgHeader}}</td>
                </tr> 
                <tr>
                    <td><b>Avatar</b></td>
                    <td>{{profile.Avatar}}</td>
                </tr> 
                <tr>
                    <td><b>DOB</b></td>
                    <td>{{profile.dob}}</td>
                </tr> 
                <tr>
                    <td><b>Sex</b></td>
                    <td>{{profile.sex}}</td>
                </tr> 
                

                <tr>
                    <td><b>Created at</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>                            
            </tbody>
        </table>        
        {{/with}}
    </div>
</template>