<template name="updateArticle_form">
    <form id="updateArticle_form"> 
        <div class="form-group {{#if error 'content'}}has-error{{/if}}">
<label for="content" class="control-label">Update Message *</label>
<input type="text" id="content" value="{{content}}" placeholder="Update Message" class="form-control">
<span class="help-block">{{error "content"}}</span>
</div>
<div class="form-group {{#if error 'type'}}has-error{{/if}}">
<label for="type" class="control-label">Type of Update Article *</label>
<input type="text" id="type" value="{{type}}" placeholder="Type of Update Article" class="form-control">
<span class="help-block">{{error "type"}}</span>
</div>

        <button id="btnSave" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'updateArticleIndex'}}" class="btn btn-default">Back</a>                        
    </form>
</template>

