<template name="campaigns_form">
    <form id="campaigns_form">
        <div class="form-group {{#if error 'title'}}has-error{{/if}}">
            <label for="title" class="control-label">Title *</label> 
            <input type="text" id="title" value="{{title}}" placeholder="Title" class="form-control">
            <span class="help-block">{{error "title"}}</span>
        </div>
          <div class="form-group {{#if error 'headerImg'}}has-error{{/if}}">
            <label for="headerImg" class="control-label">File</label>
            <input type="file" id="headerImg" class="form-control">
            <span class="help-block">{{error "headerImg"}}</span>
        </div>
        <div class="form-group {{#if error 'ctype'}}has-error{{/if}}">
            <label for="ctype" class="control-label">Campaign Type *</label>
            <select id="ctype" placeholder="Campaign Type" class="form-control" name="ctype" >
                <option></option>
                <option value="1" {{getSelected ctype "1"}}>I want to spread awareness for a cause.</option>
                <option value="2" {{getSelected ctype "2"}}>I want to raise my voice: write an open letter</option>
                <option value="3" {{getSelected ctype "3"}}>I want to start a petition</option>
                <option value="4" {{getSelected ctype "4"}}>I want to fundraise and help.</option>
            </select>
        </div>

        <div class="form-group {{#if error 'location'}}has-error{{/if}}">
            <label for="location" class="control-label">Campaign Location *</label> 
            <input type="text" id="location" value="{{location}}" placeholder="Campaign Location" class="form-control">
            <span class="help-block">{{error "location"}}</span>
        </div>
        <div class="form-group {{#if error 'tlocation'}}has-error{{/if}}">
            <label for="tlocation" class="control-label">Target location *</label> 
            <input type="text" id="tlocation" value="{{tlocation}}" placeholder="Target location" class="form-control">
            <span class="help-block">{{error "tlocation"}}</span>
        </div>
        <div class="form-group {{#if error 'causes'}}has-error{{/if}}">
            <label for="causes" class="control-label">Causes *</label> 
            <input type="text" id="causes" value="{{causes}}" placeholder="Causes" class="form-control">
            <span class="help-block">{{error "causes"}}</span>
        </div>
        <button id="btnSave" type="submit" class="btn btn-success">Submit</button>                
        <a href="{{pathFor 'campaignsIndex'}}" class="btn btn-default">Back</a>
    </form>
</template>

