<template name="campaignsInsert">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'campaignsIndex'}}">Campaigns</a></li>
            <li class="active">insert</li>
        </ol>

        <div id="basic-form">
            <div class="title">
                <h3 class="pull-left">Insert Campaigns</h3>
            </div>
            <div class="clearfix"></div>

            {{> campaigns_form}}
        </div>        
    </div>
</template>