<template name="campaignsView">
    <div class="container">
        <!--Breadcrumbs-->
        <ol class="breadcrumb">
            <li><a href="{{pathFor 'sitesIndex'}}">Home</a></li>
            <li><a href="{{pathFor 'campaignsIndex'}}">Campaigns</a></li>
            <li class="active">view</li>
        </ol>

        {{#with model}}
        <div class="title">
            <h3 class="pull-left">View Campaigns #{{_id}}</h3>
            <div class="toolbar pull-right">

                <a href="{{pathFor 'CampUpdateInsertCampUpdatesBlogId'}}" class="btn btn-default">Add Campaign Update</a>

                <a href="{{pathFor 'campaignsIndex'}}" class="btn btn-default">Back</a>
                <a href="{{pathFor 'campaignsUpdate'}}" class="btn btn-info">Update</a>
                <a id="btnRemove" class="btn btn-danger">Remove</a>
            </div>
        </div>
        {{> campUpdatesList model}}
        <div class="clearfix"></div>
        <table class="table">
            <tbody>

                <tr>
                    <td><b>Title</b></td>
                    <td>{{title}}</td>
                </tr>

                <tr>
                    <td><b>Header Image</b></td>
                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>

                </tr>
                <tr>
                    <td><b>Campaign Type</b></td>
                    <td>{{ctype}}</td>
                </tr>
                <tr>
                    <td><b>Campaign Location</b></td>
                    <td>{{location}}</td>
                </tr>
                <tr>
                    <td><b>Target location</b></td>
                    <td>{{tlocation}}</td>
                </tr>
                <tr>
                    <td><b>Causes</b></td>
                    <td>{{causes}}</td>
                </tr>
                <!--                                <tr>
                                                    <td><b>Image</b></td>
                                                    <td><img src="{{#if image}}{{app "baseUrl"}}{{image.url}}{{else}}{{app "baseUrl"}}/images/noimage.jpg{{/if}}"/></td>
                                                </tr>                -->
                <tr>
                    <td><b>Created at</b></td>
                    <td>{{meteorisFormatter "dateTime" createdAt}}</td>
                </tr>                
                <tr>
                    <td><b>Updated at</b></td>
                    <td>{{meteorisFormatter "dateTime" updatedAt}}</td>
                </tr>                
                <tr>
                    <td><b>Created by</b></td>
                    <td>{{createdUser.profile.name}}</td>
                </tr>                
                <tr>
                    <td><b>Updated By</b></td>
                    <td>{{updatedUser.profile.name}}</td>
                </tr>                
            </tbody>
        </table>        
        {{/with}}
    </div>
</template>